name: Biome

on:
  pull_request:
    branches: [main]
    paths:
      - "apps/**/*.js"
      - "apps/**/*.json"
      - "apps/**/*.jsx"
      - "apps/**/*.ts"
      - "apps/**/*.tsx"
      - "biome.jsonc"
      - "packages/**/*.js"
      - "packages/**/*.json"
      - "packages/**/*.jsx"
      - "packages/**/*.ts"
      - "packages/**/*.tsx"
  push:
    branches: [main]
    paths:
      - "apps/**/*.js"
      - "apps/**/*.json"
      - "apps/**/*.jsx"
      - "apps/**/*.ts"
      - "apps/**/*.tsx"
      - "biome.jsonc"
      - "packages/**/*.js"
      - "packages/**/*.json"
      - "packages/**/*.jsx"
      - "packages/**/*.ts"
      - "packages/**/*.tsx"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check:
    name: Lint & Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          path: |
            ~/.bun/install/cache
            node_modules
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Biome check
        run: bunx biome check --changed --no-errors-on-unmatched --max-diagnostics=none
